.header-section .container .row {
  align-items: center;
}
.header-section .container .row .logo {
  width: 20%;
}
.header-section .container .row .logo .image-box {
  height: 100px;
}
.header-section .container .row .menu {
  width: 60%;
  height: 100%;
}
.header-section .container .row .menu ul {
  align-items: center;
  justify-content: space-around;
}
.header-section .container .row .menu ul li {
  width: 20%;
  display: flex;
  justify-content: center;
}
.header-section .container .row .menu ul li a {
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--white-color);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  justify-content: space-between;
  position: relative;
}
.header-section .container .row .menu ul li a span {
  padding-left: 10px;
  text-align: center;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
}
.header-section .container .row .menu ul li a span svg {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
}
.header-section .container .row .menu ul li a:hover {
  background-color: var(--red-bg-color);
  color: var(--red-txt-color);
}
.header-section .container .row .menu ul li a:hover span svg {
  rotate: 180deg;
  color: var(--red-txt-color);
}
.header-section .container .row .menu ul li a:hover .DropDown {
  height: 264px;
  opacity: 1;
}
.header-section .container .row .menu ul li a:hover .DropDown ul li span svg {
  rotate: 0deg;
}
.header-section .container .row .menu ul li a .DropDown {
  height: 0px;
  position: absolute;
  opacity: 0;
  top: 75px;
  left: 0px;
  width: 300px;
  border-radius: 3px 3px 15px 3px;
  overflow: hidden;
  background-color: var(--black-color);
  transition: all 0.4s ease-in-out;
}
.header-section .container .row .menu ul li a .DropDown ul {
  width: 100%;
}
.header-section .container .row .menu ul li a .DropDown ul li {
  width: 100%;
  justify-content: space-between;
  padding: 5px 0px;
}
.header-section .container .row .menu ul li a .DropDown ul li a {
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--white-color);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  justify-content: space-between;
}
.header-section .container .row .menu ul li a .DropDown ul li span {
  text-align: center;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  padding-right: 30px;
  opacity: 0;
  transition: all 0.4s;
}
.header-section .container .row .menu ul li a .DropDown ul li span svg {
  height: 100%;
  width: 100%;
}
.header-section .container .row .menu ul li a .DropDown ul li:hover {
  background-color: var(--red-bg-color);
}
.header-section .container .row .menu ul li a .DropDown ul li:hover a {
  background-color: transparent;
  color: var(--red-txt-color);
  padding-left: 30px;
}
.header-section .container .row .menu ul li a .DropDown ul li:hover span {
  background-color: transparent;
  color: var(--red-txt-color);
  opacity: 1;
  padding-right: 10px;
}
.header-section .container .row .contacts {
  width: 20%;
}
.header-section .container .row .contacts ul {
  width: 70%;
}
.header-section .container .row .contacts ul li a {
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  color: var(--white-color);
  background-color: var(--icon-bg-color);
}
.header-section .container .row .contacts ul li a::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0px;
  left: 0px;
  background-color: var(--red-txt-color);
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  transform: scale(0);
}
.header-section .container .row .contacts ul li a:hover::after {
  transform: scale(1);
}
.header-section .container .row .contacts ul li a svg {
  font-size: 25px;
  font-weight: 700;
  z-index: 11;
}
.header-section .container .row .contacts .btn {
  width: 30%;
  justify-content: center;
  align-items: center;
}
.header-section .container .row .contacts .btn button {
  padding: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: transparent;
  position: relative;
  border: 3px solid var(--red-txt-color);
  transition: all 0.4s ease-in-out;
}
.header-section .container .row .contacts .btn button::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0px;
  left: 0px;
  background-color: var(--red-txt-color);
  border-radius: 50%;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  z-index: 0;
}
.header-section .container .row .contacts .btn button:hover::after {
  transform: scale(0);
}
.header-section .container .row .contacts .btn button:hover span {
  left: 50%;
  background-color: var(--red-txt-color);
}
.header-section .container .row .contacts .btn button span {
  width: 50%;
  margin: 1.5px;
  position: absolute;
  padding: 1.5px;
  background-color: white;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  z-index: 11;
}
.header-section .container .row .contacts .btn button .mid {
  top: 50%;
  left: 50%;
}
.header-section .container .row .contacts .btn button .top {
  top: 30%;
  left: 40%;
}
.header-section .container .row .contacts .btn button .botom {
  top: 70%;
  left: 40%;
}/*# sourceMappingURL=header.css.map */